:root {
    --border-color: black;
    --max-form-width: 350px;
    --max-form-elements-width: 250px;
    --input-and-btn-padding: 4px;
}

body {
    background-color: #ddd;
}

h1 {
    max-width: var(--max-form-width);
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 0.5rem;
    padding: 1.5rem 0.5rem;
    max-width: var(--max-form-width);
    border: 2px solid var(--border-color);
}

.form-container input[type='submit'] {
    min-width: 150px;
    padding: var(--input-and-btn-padding);
    cursor: pointer;
}

.form-container div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

    & label {
        align-self: flex-start;
        font-size: 20px;

        & span {
            color: red;
        }
    }

    & input,
    select option {
        padding: var(--input-and-btn-padding);
        min-width: var(--max-form-elements-width);
    }

    & select {
        padding: var(--input-and-btn-padding);
        max-width: var(--max-form-elements-width);
    }

    & input:user-valid,
    select:user-valid {
        border: 2px solid green;
    }

    & input:user-invalid,
    select:user-invalid {
        border: 2px solid red;
    }
}
