:root {
    --border-color: black;
    --max-form-width: 350px;
    --input-and-btn-padding: 4px;
}

body {
    background-color: #ddd;
}

h1 {
    max-width: var(--max-form-width);
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0.5rem;
    padding: 1.5rem 0.5rem;
    max-width: var(--max-form-width);
    border: 2px solid var(--border-color);
}

.form-container input[type='submit'] {
    min-width: 150px;
    padding: var(--input-and-btn-padding);
    cursor: pointer;
}

.form-container div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

    & label {
        font-size: 24px;
    }

    & input {
        padding: var(--input-and-btn-padding);
        min-width: 250px;
    }
}
